@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Merriweather", serif;
}


.banner {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    max-width: 1320px;
    margin: 40px auto;
    min-height: 600px;
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 16px;
}

.banner p {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
}

.banner h1 {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    letter-spacing: 0%;
    text-align: center;
}

section {
    margin: 80px auto;
}


.first-section {
    max-width: 800px;
}

.first-section h1 {
    color: rgb(253, 38, 38);
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 40px;
    letter-spacing: 0%;
    text-align: center;
}

.first-section p {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: 500;
    letter-spacing: 0%;
    text-align: center;
}

.first-section h2 {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 30px;
    letter-spacing: 0%;
    text-align: center;
}